body {
    background-color: black;
    font-family: 'Changa One', cursive;
}

#game-screen {
    display: none;
}

#mainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('img/Background/background.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px black;
}

#mainMenu h1 {
    font-size: 4vw;  
    margin-bottom: 15px;
    color: white;
}

.menuOption {
    font-size: 3vw;  
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s;
    color: white;
    -webkit-text-stroke: 1px black;
}

.menuOption:hover {
    color: #007BFF;
}

#levelSelector {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('img/Background/background.png');
    background-size: cover;
    background-position: center;
    color: white;
    -webkit-text-stroke: 1px black;
}

#levelSelector h2 {
    font-size: 4vw;  
    margin-bottom: 15px;
}

.levelOption {
    font-size: 2.5vw;  
    margin: 8px 0;
    cursor: pointer;
    transition: color 0.3s;
}

.levelOption:hover {
    color: #007BFF;
}

/* Position and size of the Wave Indicator */
#waveIndicator {
    position: absolute;
    top: 5px; 
    left: 5px;  
    width: 20vw;
    height: 8vh;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 3vw; 
    color: white;
    -webkit-text-stroke: 1px black;
    z-index: 100;
    background: rgb(69, 9, 9);
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

/* Go Button */
#goButton {
    position: absolute;
    bottom: 5vw;  
    right: 35vw;   
    width: 6vw;  
    height: 6vh; 
    background: rgb(69, 9, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    z-index: 10;
    font-size: 1.5vw;  
    -webkit-text-stroke: 1px black;
}

#goButton:hover {
    background-color: rgb(90, 15, 15);  
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.7); 
}

/* Position and size of Build Towers Area */
#buildTowersArea {
    position: absolute;
    bottom: 2vw;  
    right: 2vw;   
    width: 12vw;  
    height: 4vh;  
    background: rgb(69, 9, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 1.5vw;  
    -webkit-text-stroke: 1px black;
}

#buildTowersArea:hover {
    background-color: #218838;
}

/* Adjust tower options size */
#towerOptions {
    position: absolute;
    bottom: 8vh;  
    right: 2vw;   
    width: 12vw;   
    background: rgb(69, 9, 9);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    padding: 8px;  
    z-index: 10;
    font-size: 1.15vw;  
}

.towerOption {
    display: flex;
    align-items: center;
    margin: 6px 0;  
    cursor: pointer;
    color: white;
    font-size: .8vw; 
}

#towerOptions img {
    width: 50px;    
    height: 50px;   
    margin-right: 8px; 
}

#towerOptions svg {
    width: 18px;    
    height: 18px;   
    color: gold;
    margin-left: 5px;
}

#backButton {
    margin-top: 1vw;
    font-size: 2.5vw; 
    cursor: pointer;
    color: white;
    transition: color 0.3s;
}

#backButton:hover {
    color: #007BFF;
}

#levelIndicator {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20vw;
    height: 8vh;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 3vw; 
    color: white;
    -webkit-text-stroke: 1px black;
    z-index: 100;
    background: rgb(69, 9, 9);
}

#gameOver {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 5vw; 
    color: white;
    -webkit-text-stroke: 3px black;
}

.heart-container {
    display: flex;
    align-items: center;
}

.heart-icon {
    width: 4vw; 
    color: red;
    margin-right: 0.8vw; 
}

.coin-container {
    display: flex;
    align-items: center;
    margin-right: 1.5vw;  
}

.coin-icon {
    width: 3vw; 
    color: gold;
    margin-right: 0.8vw; 
}

.coins-hearts-display {
    position: absolute;
    top: 1vh;
    right: 1.5vw; 
    font-size: 3vw; 
    color: white;
    -webkit-text-stroke: 1.5px black;  
    display: flex;
    align-items: center;
}

/* Upgrade Area */
#upgradeArea {
    position: absolute;
    bottom: 5vh;
    right: 2vw;     
    width: 6vw;     
    height: auto;
    display: none;
    background-color: rgba(0, 0, 0, 0.85);  
    color: white;
    padding: 1vw;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);  
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#upgradeArea:hover {
    background-color: rgba(0, 0, 0, 0.95);  
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8);  
}

#selectedTowerImg {
    width: 3.5vw;    
    height: 3.5vw;    
    margin-bottom: 1vw;  
    border-radius: 2px; 
    border: 2px solid rgba(255, 255, 255, 0.3); /* Soft border around image */
}

#selectedTowerLevel{
    font-size: 1vw;   
    margin-bottom: 0.5vw;  
    text-align: center;   
}

#selectedTowerName {
    font-size: 1vw;    
    margin-bottom: 0.5vw;  
    text-align: center;    
}

#upgradeCost {
    font-size: 1vw;    
    margin-bottom: 0.5vw;  
    text-align: center;    
}

#upgradeCostValue {
    color: yellow; /* Yellow for cost value */
    font-weight: 700;  
    font-size: 1.1vw;   
}




